<div class='card'>
    <div class='card-header'>{{title}}</div>
    <div class='card-body'>
        <form (submit)='saveProduct()'> 
            <div class='form-group row'>
                <label class='col-sm-2 col-form-label'>Name:</label>
                <div class='col-sm-10'>
                    <input type='text' class='form-control' name='name' [(ngModel)]='product.productName' #name='ngModel' required minlength="4"/>
                    <div *ngIf='name.invalid && (name.dirty || name.touched)' class='alert alert-danger'>
                        <div *ngIf='name.errors.required'>Name is required</div>
                        <div *ngIf='name.errors.minlength'>Name must have at least 4 characters</div>
                    </div>
                </div>
            </div>
            <div class='form-group row'>
                <label class='col-sm-2 col-form-label'>Code:</label>
                <div class='col-sm-10'>
                    <input type='text' class='form-control' name='code' [(ngModel)]='product.productCode' #code='ngModel' required minlength='3'/>
                    <div *ngIf='code.invalid && (code.dirty || code.touched)' class='alert alert-danger'>
                        <div *ngIf='code.errors.required'>Code is required</div>
                        <div *ngIf='code.errors.minlength'>Code must have at least 3 characters</div>
                    </div>
                </div>
            </div>
            <div class='form-group row'>
                <label class='col-sm-2 col-form-label'>Category:</label>
                <select class='col-sm-10 custom-select' name='category' [(ngModel)]='product.productCategory'>
                    <option>Gardening</option>
                    <option>Carpentry</option>
                    <option>Leisure</option>
                    <option>Motoring</option>
                </select>
                </div>
            <div class='form-group row'>
                <label class='col-sm-2 col-form-label'>Description:</label>
                <div class='col-sm-10'>
                    <textarea class='form-control' name='description' [(ngModel)]='product.description'></textarea>
                </div>
            </div>
            <div class='form-group row'>
                <label class='col-sm-2 col-form-label'>Availability:</label>
                <div class='col-sm-10'>
                    <input type='text' class='form-control' name='releaseDate' [(ngModel)]='product.releaseDate'/>
                </div>
            </div>
            <div class='form-group row'>
                <label class='col-sm-2 col-form-label'>Price:</label>
                <div class='col-sm-10'>
                    <input type='text' class='form-control' name='price' [(ngModel)]='product.price'/>
                </div>
            </div>
            <div class='form-group row'>
                <label class='col-sm-2 col-form-label'>5 Star Rating:</label>
                <div class='col-sm-10'>
                    <input type='text' class='form-control' name='rating' [(ngModel)]='product.starRating'/>
                </div>
            </div>
            <div class='form-group row'>
                <label class='col-sm-2 col-form-label'>Image URL:</label>
                <div class='col-sm-10'>
                    <input type='text' class='form-control' name='rating' [(ngModel)]='product.imageUrl'/>
                </div>
            </div>
            <input type='submit' class='btn btn-outline-success btn-xs mx-2' value='Accept'/>
            <a [routerLink]='["/products"]' class='btn btn-outline-danger btn-xs mx-2'>Back</a>
        </form>
    </div>
</div>